[package]
name = "runtime"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
semantic_analysis = { path = "../margarine/semantic_analysis" }
itoa = "*"
ryu = "*"
rand = "*"
